

/*Added by cringe007*/

#sponsors{
  background: url('../images/head_blue.png') center center repeat-x;
  background-size: cover;
  width: 100%;
  min-height: 54vh;
  transition: .15s;
}

#sponsors:hover{
  background-image: url('../images/head.png');
}

#about_us, #team{
  font-family: "raleway-heavy", sans-serif;
}
