::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0C6DFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EBFF00;
}

/*Added by cringe007*/

#sponsors{
  background: url('../images/head_blue.png') center center repeat-x;
  background-size: cover;
  width: 100%;
  min-height: 54vh;
  transition: .15s;
}

#sponsors:hover{
  background-image: url('../images/head.png');
}

body{
  font-family: 'Montserrat', sans-serif;
}
